In [2]:
import pandas as pd

In [3]:
car_data = pd.DataFrame({'cars':['audi','bmw','toyota',
                              'volkswagen','volvo'],
                        'engine':['v6','v12','v8', 'v12','v16']})
print(car_data)

         cars engine
0        audi     v6
1         bmw    v12
2      toyota     v8
3  volkswagen    v12
4       volvo    v16

In [4]:
car_type = pd.DataFrame({'cars':['audi','bmw','toyota',
                                 'volkswagen','volvo'],
                        'year':['2007','2016','2012','2015','2020']})
print(car_type)

         cars  year
0        audi  2007
1         bmw  2016
2      toyota  2012
3  volkswagen  2015
4       volvo  2020

In [5]:
pd.merge(car_data,car_type)

         cars engine  year
0        audi     v6  2007
1         bmw    v12  2016
2      toyota     v8  2012
3  volkswagen    v12  2015
4       volvo    v16  2020

In [6]:
cumulative = pd.merge(car_data, car_type)

In [7]:
auto_price = pd.DataFrame({'name':["bmw",'audi','volvo', 'volkswagen','toyota'],
                          'price':[20000, 50000, 100000, 90000, 10000]})
print(auto_price)

         name   price
0         bmw   20000
1        audi   50000
2       volvo  100000
3  volkswagen   90000
4      toyota   10000

In [8]:
pd.merge(cumulative, auto_price, left_on ='cars', right_on='name' )

         cars engine  year        name   price
0        audi     v6  2007        audi   50000
1         bmw    v12  2016         bmw   20000
2      toyota     v8  2012      toyota   10000
3  volkswagen    v12  2015  volkswagen   90000
4       volvo    v16  2020       volvo  100000

In [9]:
pd.merge(cumulative, auto_price, left_on='cars', right_on='name').drop('name', axis=1)

         cars engine  year   price
0        audi     v6  2007   50000
1         bmw    v12  2016   20000
2      toyota     v8  2012   10000
3  volkswagen    v12  2015   90000
4       volvo    v16  2020  100000

Left and right key index words

In [10]:
cumulatives1 = car_data.set_index('cars')
cumulatives2 = car_type.set_index('cars')
print(cumulatives1); print(cumulatives2)

           engine
cars
audi           v6
bmw           v12
toyota         v8
volkswagen    v12
volvo         v16
            year
cars
audi        2007
bmw         2016
toyota      2012
volkswagen  2015
volvo       2020

In [11]:
#put it in a dataframe format
pd.merge(cumulatives1, cumulatives2, left_index=True, right_index= True)

           engine  year
cars
audi           v6  2007
bmw           v12  2016
toyota         v8  2012
volkswagen    v12  2015
volvo         v16  2020

In [12]:
#alternatively, for joining on indices
cumulatives1.join(cumulatives2)

           engine  year
cars
audi           v6  2007
bmw           v12  2016
toyota         v8  2012
volkswagen    v12  2015
volvo         v16  2020

In [13]:
pd.merge(cumulatives1, auto_price, left_index=True, right_on='name')

  engine        name   price
1     v6        audi   50000
0    v12         bmw   20000
4     v8      toyota   10000
3    v12  volkswagen   90000
2    v16       volvo  100000

* this code gives me the liberty to choose which of the columns i want to keep using the "set_index" key words
* this is an alternative to the "on" keywords