In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
petrol = pd.read_csv('petrol_consumption.csv')
petrol.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [3]:
petrol.corr()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
Petrol_tax,1.000000,0.012665,-0.522130,-0.288037,-0.451280
Average_income,0.012665,1.000000,0.050163,0.157070,-0.244862
Paved_Highways,-0.522130,0.050163,1.000000,-0.064129,0.019042
Population_Driver_licence(%),-0.288037,0.157070,-0.064129,1.000000,0.698965
Petrol_Consumption,-0.451280,-0.244862,0.019042,0.698965,1.000000

In [4]:
petrol.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

In [5]:
x= petrol.drop('Petrol_Consumption', axis=1)
y= petrol['Petrol_Consumption']

In [6]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2, random_state= 42)

In [7]:
from sklearn.tree import DecisionTreeRegressor

regressor= DecisionTreeRegressor()
regressor.fit(x_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [8]:
#use the model to predict the test dataset
y_pred= regressor.predict(x_test)

In [9]:
df= pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

    Actual  Predicted
27     631      603.0
40     587      610.0
26     577      580.0
43     591      699.0
24     460      510.0
37     704      566.0
12     525      414.0
19     640      968.0
4      410      580.0
25     566      547.0

In [10]:
from sklearn import metrics

print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Root mean squared error:', np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

Mean Squared Error: 18369.6
Mean Absolute Error: 97.8
Root mean squared error: 135.53449745360035

In [22]:
print('R squared:', metrics.r_squared(y_test, y_pred))

AttributeError: module 'sklearn.metrics' has no attribute 'r_squared'

My cost function, (mean squared error) is pretty high and the absolute error is more than 10% of the mean of the values in the petrol consumption column ... There's a possibility my algorithm isn't performing well... Let's run further diagnosis

In [20]:
regressor.score(x_test, y_test)

-1.738098254703833

My decision tree model is over fitting

Overfitting occurs when the model is
getting good training accuracy but very low testing
accuracy. It means that the model has been able to
understand the training data well but is struggling
with unseen data

In [13]:
regressor.score(x,y)

0.6877864281796306

In [14]:
from sklearn.linear_model import LinearRegression
linear_regression = LinearRegression()
linear_regression.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
linear_y_pred= linear_regression.predict(x_test)

In [16]:
df2= pd.DataFrame({'Actual': y_test, 'Predicted': linear_y_pred})
df2

    Actual   Predicted
27     631  606.692665
40     587  673.779442
26     577  584.991490
43     591  563.536910
24     460  519.058672
37     704  643.461003
12     525  572.897614
19     640  687.077036
4      410  547.609366
25     566  530.037630

In [17]:
print('Mean Squared Error:', metrics.mean_squared_error(y_test, linear_y_pred))
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, linear_y_pred))
print('Root mean squared error:', np.sqrt(metrics.mean_squared_error(y_test, linear_y_pred)))

Mean Squared Error: 4083.2558717453844
Mean Absolute Error: 53.46854128291667
Root mean squared error: 63.900358932836866

Looks like the linear regression model has lesser error and performs better

In [21]:
linear_regression.score(x_test,y_test)

0.39136640014288737